<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @racer.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @racer.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @racer.email %>
</p>

<p>
  <strong>Race ID:</strong>
  <%= @racer.raceid %>
</p>

<p>
  <strong>Bib Number:</strong>
  <%= @racer.bib %>
</p>

<p>
  <strong>Is Current:</strong>
  <%= @racer.iscurrent %>
</p>

<%= link_to 'Edit', edit_racer_path(@racer) %> |
<%= link_to 'Back', racers_path %>
